<div class="container py-5">
<h1>Lists</h1>
<div class="cards">
  <% @lists.each do |list| %>
  <% if list.photo.attached? %>
        <div class="card-category" style="background-image: url(<%= cl_image_path(list.photo.key)%>)">
    <% else %>
    <div class="card-category" style="background-color: black">
    <% end %>
          <%= link_to list.name, list_path(list) %>
        </div>
  <% end %>
</div>



<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>
</div>


<%# style="background-image: url(<%= cl_image_path(list.photo.key)%>



