<%# <%= cl_image_tag(@list.photo.key),
      width: 400, height: 300, crop: :fill %>
    <%= console  %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@list.photo.key)%>);">
  <div class="container">
    <p><%= @list.name %></p>


  </div>
</div>



  <ul>
  <% @list.movies.each do |movie| %>
    <li>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= movie.title %>
      <p><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Noemie ok ?"} %></p>
    </li>
  <% end %>
  </ul>
  <p><%= link_to "Add a movie", new_list_bookmark_path(@list)%></p>
