<h1>Add a movie to <%= @list.name %> list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, as: :select %>
    <%= f.input :comment %>
  <%= f.submit "Add to this list", class: "btn btn-primary" %>
<% end %>
